<main class="page-<%= pageData.template %> main-page">
	<section class="sec-mv">
		<p class="mv-txt">
			サポートシェアリングソリューション
		</p>
		<h1 class="mv-ttl">
			<img src="<%= RELATIVE_PATH %>img/common/logo.svg" width="466" alt="OKWAVE Plus+">
		</h1>
		<p class="mv-des">
			顧客の満足度を維持しながら<br>コール数の削減を実現
		</p>
		<a href="https://info.dev.okwave.jp/okwaveplus/document/salesmaterial01.html" target="_blank" class="btn-comp02 mv-btn">
			<span class="inn">
				<span class="txt-main"> 資料はこちら</span>
				<span class="txt-ab">無料</span>
			</span>
		</a>
		<div class="mv-img01">
			<span class="pc"><img src="<%= RELATIVE_PATH %>img/index/mv-img-01.png" alt="img"></span>
			<span class="sp"><img src="<%= RELATIVE_PATH %>img/index/mv-img-01-sp.png" alt="img"></span>
		</div>
		<div class="mv-img02">
			<span class="pc"><img src="<%= RELATIVE_PATH %>img/index/mv-img-02.png" alt="img"></span>
			<span class="sp"><img src="<%= RELATIVE_PATH %>img/index/mv-img-02-sp.png" alt="img"></span>
		</div>
	</section>
	
	<section class="sec-movie bg-dots">
		<div class="inner">
			<h2 class="ttl-comp02">
				サービス紹介ムービー
			</h2>
			<div class="movie-box">
				<div class="inn">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/qL-GPCGauQA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</section>
	
	<section class="sec-support">
		<div class="inner">
			<div class="support-item">
				<h2 class="ttl-comp01 mbpc-41 mbsp-29">
					自社のサポートでは<br class="sp-sm">答えにくい問い合わせが増えていませんか？
				</h2>
				
				<div class="support-img01">
					<span class="pc-sm"><img src="<%= RELATIVE_PATH %>img/index/support-img-01.svg" width="964" alt="自社のサポートでは答えにくい問い合わせが増えていませんか？"></span>
					<span class="sp-sm"><img src="<%= RELATIVE_PATH %>img/index/support-img-01-sp.svg" width="250" alt="自社のサポートでは答えにくい問い合わせが増えていませんか？"></span>
				</div>
				
				<p class="support-des">
					<span>
						自社のサービスに関連する質問だけど、<br>他社製品に関わるため答えられない!
					</span>
				</p>
				
				<p class="support-solve">
					<span class="pc-sm line">お客様のお悩みを解決しないと顧客満足度の低下を招く可能性も</span>
					<span class="sp-sm"><span class="line">お客様のお悩みを解決しないと</span><br><span class="line">顧客満足度の低下を招く可能性も</span></span>
				</p>
			</div>
			<div class="support-item">
				<h2 class="ttl-comp01 mbpc-50 mbsp-27">
					サービスを使い始めたビギナーから<br>よくコールセンターに<br class="sp-sm">電話がかかってきませんか？
				</h2>
				
				<div class="support-img02">
					<span class="pc-sm"><img src="<%= RELATIVE_PATH %>img/index/support-img-02.svg" width="880" alt="サービスを使い始めたビギナーからよくコールセンターに電話がかかってきませんか？"></span>
					<span class="sp-sm"><img src="<%= RELATIVE_PATH %>img/index/support-img-02-sp.svg" width="880" alt="サービスを使い始めたビギナーからよくコールセンターに電話がかかってきませんか？"></span>
				</div>
				
				<p class="support-des">
					<span>
						既存のコンテンツではビギナーが理解できず<br>コールセンターに電話が<br class="sp-sm">かかってきている可能性も
					</span>
				</p>
			</div>
		</div>
	</section>
	
	<section class="sec-users bg-dots">
		<div class="inner">
			<h2 class="ttl-comp01 mbpc-14 mbsp-3">
				OKWAVE Plusなら<br class="sp"><strong class="lg02 c-pureBlue">ユーザー同士がコミュニティ</strong>で解決！
			</h2>
			<p class="txt-basic txt-center mbpc-9">
				OKWAVE Plusを活用すれば<br>
				会社として正式に回答しにくい質問や初歩的な質問でも<br>
				OKWAVE会員が回答してくれるため<br>
				顧客満足度の低下を防ぎ、<br class="sp-sm">コール数の削減につなげる事ができます
			</p>
			<div class="users-img txt-center">
				<span class="pc-sm"><img src="<%= RELATIVE_PATH %>img/index/users-img.svg" width="909" alt="OKWAVE Plusならユーザー同士がコミュニティで解決！"></span>
				<span class="sp-sm"><img src="<%= RELATIVE_PATH %>img/index/users-img-sp.svg" width="909" alt="OKWAVE Plusならユーザー同士がコミュニティで解決！"></span>
			</div>
			<p class="users-des txt-center">
				OKWAVE Plusならユーザー同士で解決するコミュニティを簡単に開設することができます。<br>
				コミュニティの解決力をサポートに活用しませんか？
			</p>
			
			<a href="https://info.dev.okwave.jp/okwaveplus/case-study/entry.html" target="_blank" class="btn-comp02">
				<span class="inn">
					<span class="txt-main">コミュニティ活用に関する 資料はこちら</span>
					<span class="txt-ab">無料</span>
				</span>
			</a>
		</div>
	</section>
	
	<section class="sec-community">
		<div class="inner">
			<h2 class="ttl-comp01 mbpc-16 mbsp-2">
				<strong class="lg">
					<span class="c-pureBlue">コミュニティ</span>一覧
				</strong>
			</h2>
			<p class="txt-basic txt-center mbpc-44 mbsp-24">
				様々な業界でコミュニティをご利用いただいています。
			</p>
			<ul class="community-list">
				<li class="community-list__item">
					<h3 class="ttl-comp03">
						<span>PC系コミュニティ</span>
					</h3>
					<div class="community-list__box txt-basic">
						<ul class="list">
							<li>富士通パソコン「ＦＭＶ」</li>
							<li>NEC LAVIE公式サイト</li>
							<li>Lenovo Q&Aコミュニティ</li>
						</ul>
					</div>
				</li>
				<li class="community-list__item">
					<h3 class="ttl-comp03">
						<span>通信系コミュニティ</span>
					</h3>
					<div class="community-list__box txt-basic">
						<ul class="list">
							<li>JCOM株式会社</li>
							<li>株式会社ＮＴＴぷらら</li>
							<li>ソニーネットワーク<br>コミュニケーションズ株式会社</li>
						</ul>
					</div>
				</li>
				<li class="community-list__item">
					<h3 class="ttl-comp03">
						<span>PC周辺コミュニティ</span>
					</h3>
					<div class="community-list__box txt-basic">
						<ul class="list">
							<li>エプソン販売株式会社</li>
							<li>ブラザーサポート広場</li>
							<li>キヤノン<br class="pc-sm">マーケティングジャパン（株）</li>
							<li>株式会社ＰＦＵ</li>
							<li>エレコム株式会社</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</section>
	
	<section class="sec-voice bg-paleBlue" id="voice">
		<div class="inner">
			<h2 class="ttl-comp01 mbpc-16 mbsp-5">
				<strong class="lg">
					<span class="c-pureBlue">導入企業様</span>の声
				</strong>
			</h2>
			<p class="txt-basic txt-center mbpc-46 mbsp-19">
				ご導入頂いている企業様の代表的なお声をご紹介します。
			</p>
			
			<div class="voice-slider">
				<div class="item">
					<div class="voice-box">
						<div class="voice-box__item">
							<div class="voice-box__l txt-center">
								<p class="voice-box__logo">
									<a href="">
										<img src="<%= RELATIVE_PATH %>img/index/voice-logo.png" alt="brother">
									</a>
								</p>
								<div class="voice-box__circle">
									<img src="<%= RELATIVE_PATH %>img/index/person-voice.png" alt="img">
								</div>
								<p class="voice-box__txt txt-basic02 pc-sm">
									ブラザー販売株式会社
								</p>
							</div>
							<div class="voice-box__r">
								<p class="voice-box__up">
									<span>CS向上</span>
								</p>
								<p class="voice-box__ttl">
									<span>サポート体制の充実で</span><br>
									<span>ブランド価値を高める</span>
								</p>
								<p class="voice-box__txt txt-basic02 sp-sm">
									ブラザー販売株式会社
								</p>
								<p class="txt-basic02">
									製品ジャンルが幅広く、また他社製品と関連するサービスも多くなる事でお客様の質問や疑問に的確にサポートする事が困難になる中、ブラザー販売様に検討頂いたのが新たなお問い合わせチャネルとしてのOKWAVE Plusでした。導入にあたっての検討課題や導入後の効果についてお伺いしています。
								</p>
								<p class="voice-box__link">
									<a href="">事例を見る</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="voice-box">
						<div class="voice-box__item">
							<div class="voice-box__l txt-center">
								<p class="voice-box__logo">
									<a href="">
										<img src="<%= RELATIVE_PATH %>img/index/voice-logo-02.png" alt="elecom">
									</a>
								</p>
								<div class="voice-box__circle">
									<img src="<%= RELATIVE_PATH %>img/index/person-voice-02.png" alt="img">
								</div>
								<p class="voice-box__txt txt-basic02 pc-sm">
									エレコム株式会社
								</p>
							</div>
							<div class="voice-box__r">
								<p class="voice-box__up">
									<span>呼量削減</span>
								</p>
								<p class="voice-box__ttl">
									<span>ユーザー同士で問題解決するから</span><br>
									<span>サポート電話対応が減少</span>
								</p>
								<p class="voice-box__txt txt-basic02 sp-sm">
									エレコム株式会社
								</p>
								<p class="txt-basic02">
									年間2000品もの製品を開発・販売されているため、業容の拡大と商品カテゴリーが増加しサポート体制の業務効率化や運営コストが課題に。そこでユーザー同士で疑問を解決するコミュニティの導入を検討頂きました。コミュニティを導入頂いた結果、サポート業務にどのような変化があったかお伺いしています。
								</p>
								<p class="voice-box__link">
									<a href="">事例を見る</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<a href="https://info.dev.okwave.jp/okwaveplus/case-study/brother01.html" target="_blank" class="btn-comp02">
				<span class="inn">
					<span class="txt-main">導入実例に関する資料はこちら</span>
					<span class="txt-ab">無料</span>
				</span>
			</a>
		</div>
	</section>
	
	<section class="sec-features bg-dots" id="features">
		<div class="inner">
			<h2 class="ttl-comp01">
				<strong class="c-pureBlue">３つの特長</strong>
			</h2>
			<ul class="features-list">
				<li class="features-list__item">
					<p class="point">
						<span>POINT 1</span>
					</p>
					<p class="ttl">
						すぐに活用できる
					</p>
					<div class="img">
						<span class="pc-sm"><img src="<%= RELATIVE_PATH %>img/index/features-img-01.jpg" width="92" alt="すぐに活用できる"></span>
						<span class="sp-sm"><img src="<%= RELATIVE_PATH %>img/index/features-img-01-sp.png" width="106" alt="すぐに活用できる"></span>
					</div>
					<p class="txt-basic02">
						最初からコンテンツと回答力がある状態でコミュニティを開始できます。
					</p>
				</li>
				<li class="features-list__item">
					<p class="point">
						<span>POINT 2</span>
					</p>
					<p class="ttl">
						管理・運営コストゼロ
					</p>
					<div class="img">
						<span class="pc-sm"><img src="<%= RELATIVE_PATH %>img/index/features-img-02.jpg" width="171" alt="管理・運営コストゼロ"></span>
						<span class="sp-sm"><img src="<%= RELATIVE_PATH %>img/index/features-img-02-sp.png" width="133" alt="管理・運営コストゼロ"></span>
					</div>
					<p class="txt-basic02">
						OKWAVE Plusに関する運用はOKWAVEが責任をもって実施します。
					</p>
				</li>
				<li class="features-list__item">
					<p class="point">
						<span>POINT 3</span>
					</p>
					<p class="ttl">
						解決価値がわかる
					</p>
					<div class="img">
						<span class="pc-sm"><img src="<%= RELATIVE_PATH %>img/index/features-img-03.jpg" width="82" alt="解決価値がわかる"></span>
						<span class="sp-sm"><img src="<%= RELATIVE_PATH %>img/index/features-img-03-sp.png" width="90" alt="解決価値がわかる"></span>
					</div>
					<p class="txt-basic02">
						OKWAVE Plusで解決されたデータがどのくらいの解決価値なのかをレポートで提供します。
					</p>
				</li>
			</ul>
			
			<a href="https://info.dev.okwave.jp/okwaveplus/document/salesmaterial01.html" target="_blank" class="btn-comp02">
				<span class="inn">
					<span class="txt-main">OKWAVE Plusがもっと分かる資料はこちら</span>
					<span class="txt-ab">無料</span>
				</span>
			</a>
		</div>
	</section>
	
	<section class="sec-faq bg-darkBlue">
		<div class="inner">
			<h2 class="ttl-comp01">
				よくあるご質問
			</h2>
			
			<ul class="faq-list">
				<li class="faq-list__item">
					<p class="faq-list__q">
						サポートシェアリングとは？
						<span class="ico"></span>
					</p>
					<p class="faq-list__a">
						OKWAVEには様々な知識経験を持つ方が集まっています。その方々の回答力を複数の企業がサポート目的で共有し活用するという概念を、サポートシェアリングと呼んでいます。
					</p>
				</li>
				<li class="faq-list__item">
					<p class="faq-list__q">
						コミュニティって<br class="sp-sm">本当にサポートに有効？
						<span class="ico"></span>
					</p>
					<p class="faq-list__a">
						コミュニティはAppleやMicrosoftといったグローバル企業でも活用されています。質問できるコミュニティがある事で、コールセンターに電話しなくても自分の状況に合わせた回答を周囲のユーザーからもらう事ができます。<br>
						それによりユーザー同士のつながりが生まれ、サービスのロイヤリティ向上にもつながります。
					</p>
				</li>
				<li class="faq-list__item">
					<p class="faq-list__q">
						コミュニティ導入で<br class="sp-sm">ユーザーにどんなメリットが？
						<span class="ico"></span>
					</p>
					<p class="faq-list__a">
						ユーザーは困り事が生じると、企業のサイトを訪問し解決する情報を探します。ただ、リテラシーの問題や個別の事象を解決できず最終的にコールセンターに電話するケースが65％もあると言われています。<br>
						コミュニティがあれば、電話がつながらない時間帯でも気軽に自分の状況について質問する事ができるためユーザーの満足度を上げる事ができます。
					</p>
				</li>
				<li class="faq-list__item">
					<p class="faq-list__q">
						コミュニティの導入には<br class="sp-sm">どの位の時間がかかりますか？
						<span class="ico"></span>
					</p>
					<p class="faq-list__a">
						コミュニティの導入まで、OKWAVEに蓄積されているコンテンツを選定していただく等の工程がありますが、約1カ月あればユーザー向けに公開する事ができます。
					</p>
				</li>
			</ul>
		</div>
	</section>
</main>